
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о сайте</title>
    <link rel="stylesheet" href="{% static 'app/css/about.css' %}">
</head>

<body>
    <header> <h2 class="text-center">About Us</h2></header>
   
    <hr>
    <img src="{% static 'app/img/shop.jpg' %}" />
     <p><strong>Автор сайта</strong></p>
    <p class="lead">{{name}} {{lastname}}</p>
    <p class="lead">Электронная почта </p>
    <p class="lead">{{email}}</p>
    <p>Деньги переоценены, потому что созидание намного интереснее потребления,
        а внутреннее состояние несоизмеримо важнее внешнего</p>
</body>
</html>