<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{% block title %}
<title> Панель администратора</title>
{% endblock title %}

{% block content %}
{{ total }}
<div class="actions">
    <div class="actions-category">
        <div class="action">
            <a href="{% url 'category_add' %}">Добавить категорию</a>
        </div>
        <div class="action">
            <a href="{% url 'categories' %}">Посмотреть категории</a>
        </div>
    </div>

    <div class="actions-product">
        <div class="action">
            <a href="{% url 'product_add' %}">Добавить товар</a>
        </div>
        <div class="action">
            <a href="{% url 'products' %}">Посмотреть товары</a>
        </div>
        <div class="action-orders">
            <a href="{% url 'admin_all_orders' %}">Посмотреть все заказы</a>
        </div>
    </div>
</div>
{% endblock content %}
