
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о сайте</title>
    <link rel="stylesheet" href="{% static 'app/css/contact.css' %}">
</head>

<body>
    <header> <h2 class="text-center">Контакты</h2></header>
   
    <hr>
    <img src="{% static 'app/img/shop.jpg' %}" />
     <p><strong>Контакты магазина</strong></p>
   <div>
       <div>Уточнить информацию по наличию в магазинах
+7 (812) 667 84 25
+7 (812) 667 84 27
График работы офиса
пн-пт: с 09:00 до 18:00</div>
<div>Для поставщиков
zakupki@domknigi.spb.ru
По вопросам продвижения, рекламы и PR
pr_dp@domknigi.spb.ru</div>
<div>Юридический адрес:
191186, г. Санкт-Петербург, Невский пр., д. 28, лит. А, пом. 7-Н, пом. 1</div>
<div>Почтовый адрес:
191186, г. Санкт-Петербург, Невский пр., д. 28, лит. А, пом. 7-Н, пом. 1
По вопросам онлайн-заказов!
zakaz@domknigi.spb.ru</div>
   </div>


</body>
</html>