
img {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 50%;
}
header {
    background-color: #31abdf;
    color: rgb(108, 12, 12);
    text-align: center;
    font-style: oblique;
    font-size: xx-large;
    margin: 0px;
    padding: 10px;
    height: 20%;
}